trigger:
  branches:
    include:
    - master

pool:
  name: Default
  demands:
  - agent.name -equals Kala

steps:
- script: 'echo JAVA_HOME=%JAVA_HOME%'
  displayName: "Check JAVA_HOME"

- script: '"C:\Maven\bin\mvn.cmd" -version'
  displayName: "Verify Maven Installed"

- script: '"C:\Maven\bin\mvn.cmd" clean package'
  displayName: "Build Maven Project"